{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {global_mesh, "1.0.0"},
         [mesh_core,
          mesh_gate,
          mesh_ledger,
          sasl]},

        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.
