{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.12.0"},
    {jiffy, "1.1.1"}
]}.

{project_app_dirs, ["apps/*"]}.

{relx, [{release, {global_mesh, "1.0.0"},
         [mesh_core,
          mesh_gate,
          mesh_crypto,
          mesh_ledger,
          mesh_api,   %% <--- ADDED THE API GATEWAY HERE
          cowboy,
          jiffy,
          sasl]},

        {mode, dev},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{profiles, [{prod, [{relx, [{mode, prod}]}]}]}.
